<div class="overlay-auth">
	<div class="container-logo w-container">
		<img src="images/logo.png" width="118">
	</div>

	<div class="container-help w-container">
		<div class="w-row">
			<div class="column-help-image w-col w-col-6">
				<img sizes="(max-width: 767px) 100vw, (max-width: 991px) 354px, 460px" src="images/promo-imaqtpie.png" srcset="images/promo-imaqtpie-p-500x316.png 500w, images/promo-imaqtpie-p-800x505.png 800w, images/promo-imaqtpie.png 925w">
			</div>

			<div class="column-help-text w-col w-col-6">
				<h1 class="h1">How to play</h1>
				<p class="text-help">
					1. Watch the stream
					<br>2. Make live predictions
					<br>3. Score points and bragging rights
				</p>

				<div class="div-overlay-button" ng-click="app.auth();">
					<a class="button-overlay w-button" href="#">Start Playing</a>
				</div>
			</div>
		</div>
	</div>
</div>