{% extends "../layouts/default.twig" %}

{% block content %}
	{% if stream %}
		<div ng-controller="AppController as app" ng-init="app.socketUrl = '{{ streamSocketUrl }}'; app.game = '{{ stream.game.game }}'">
			{% if user %}
				{% include 'stream.twig' %}
			{% else %}
				{% include 'auth.twig' %}
			{% endif %}
		</div>
	{% else %}
		{% include 'landing.twig' %}
	{% endif %}
{% endblock %}