<div class="navbar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
	<div class="container w-container">
		<a class="brand w-nav-brand" href="index.html"><img height="50" src="images/logo.png">
		</a>
	</div>
</div>
<div class="content-section hero-section">
	<div class="content-wrapper w-container">
		<div class="w-row">
			<div class="column w-col w-col-5">
				<div class="iphone-container" data-ix="slide-up-iphone-on-load"><img class="iphone" src="images/promo.png">
				</div>
			</div>
			<div class="column-2 w-col w-col-7">
				<div class="title">alpha version</div>
				<h1 class="h1">The most exciting way to watch streams!</h1>
				<p class="hero paragraph">Fansy is asking real-time questions while you’re watching your favourite game stream (e.g. Will Imaqtpie draw the first blood? Will Amaz survive next turn?) and allows you to compete with others.</p>
				<div class="form-container w-form">
					<form class="form" data-name="Email Form" id="email-form" name="email-form">
						<input class="form-input-box w-input" data-name="Email" id="Email-3" maxlength="256" name="Email" placeholder="your@email.com" required="required" type="email">
						<input class="form-button w-button" data-wait="Please wait..." type="submit" value="Join Alpha">
					</form>
					<div class="success-message w-form-done">
						<p class="success-message-text">Thank you! Your submission has been received!</p>
					</div>
					<div class="error-message w-form-fail">
						<p class="error-message-text">Oops! Something went wrong while submitting the form :(</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="content-wrapper w-container">
		<div class="footer-text">Made with passion by Fansy Inc., 2015. <a class="text-link" href="mailto:kk@fansy.tv">EMAIL US</a>
		</div>
	</div>
</div>