<div class="section-landing">
	<div class="container-logo w-container"><img src="images/logo.png" width="118">
	</div>
	<div class="container-help w-container">
		<div class="w-row">
			<div class="column-landing-image w-col w-col-5"><img sizes="(max-width: 767px) 96vw, (max-width: 991px) 291.65625px, 380px" src="images/promo-imaqtpie.png" srcset="images/promo-imaqtpie-p-500x316.png 500w, images/promo-imaqtpie-p-800x505.png 800w, images/promo-imaqtpie.png 925w">
			</div>
			<div class="column-landing-text w-col w-col-7">
				<div class="text-caption">ALPHA VERSION</div>
				<h1 class="h1">The most exciting way to watch streams!</h1>
				<p class="text-basic">Fansy is asking real-time questions while you’re watching your favourite game stream (e.g. Will Imaqtpie draw the first blood? Will Amaz survive next turn?) and allows you to compete with others.
					<br>
					<br>Follow us on <a class="link-basic" target="_blank" href="http://twitter.com/fansytv">Twitter</a> to be informed about the test session schedule.</p>
			</div>
		</div>
	</div>
</div>